
<app-header titlulo="Grid y Row"></app-header>

<ion-content padding>

  <ion-grid>

   <ion-row>

    <ion-col size="6">
      <ion-card>
        <ion-img src="/assets/icon/1.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>12 ejercicios</ion-card-subtitle>
          <ion-card-title>Pecho</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="/assets/icon/2.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>7 ejercicios</ion-card-subtitle>
          <ion-card-title>Espalda</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
   

   </ion-row>
   <ion-row>

    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/3.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>10 ejercicios</ion-card-subtitle>
          <ion-card-title>Biceps</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/4.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>7 ejercicios</ion-card-subtitle>
          <ion-card-title>Abdomen</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
   

   </ion-row>

   <ion-row>

    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/5.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>12 ejercicios</ion-card-subtitle>
          <ion-card-title>Pierna</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/6.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>7 ejercicios</ion-card-subtitle>
          <ion-card-title>Gluteos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
   

   </ion-row>

   <ion-row>

    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/7.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>12 ejercicios</ion-card-subtitle>
          <ion-card-title>pantorrilla</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-img src="/assets/icon/8.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-subtitle>7 ejercicios</ion-card-subtitle>
          <ion-card-title>Triceps</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
   

   </ion-row>
  </ion-grid>

</ion-content>
