
<app-header titulo="list"></app-header>



<ion-content>

  <ion-grid>

    <ion-row>
 
     <ion-col size="12">
       <ion-card>
         <ion-img src="/assets/a.jpg" title="pecho"></ion-img>
 
         <ion-card-header>
     
           <ion-card-title>Almendras</ion-card-title>
         </ion-card-header>
         <ion-card-content>
          Las almendras son uno de los frutos secos más nutritivos del planeta, tienen un sabor delicado y dulzón, y contienen infinidad de propiedades beneficiosas para nuestro organismo. Entre sus bondades destaca que ayudan a fortalecer los huesos, el cabello, la piel y son buenas para el corazón, por ello la Federación española del corazón recomienda su consumo.
         </ion-card-content>
       </ion-card>
     </ion-col>
     <ion-col size="12">
       <ion-card>
         <ion-img src="/assets/c.jpg" title="pecho"></ion-img>
 
         <ion-card-header>
        
           <ion-card-title>Camote</ion-card-title>
         </ion-card-header>
         <ion-card-content>
          El camote (Ipomoea batatas), también conocido como batata o patata dulce, es un vegetal extremadamente versátil que se caracteriza por su alto valor nutricional. El nombre de «camote» proviene delnáhuatl camohtli, además, es una planta herbácea, perenne y trepadora, que prefiere los climas tropicales
         </ion-card-content>
       </ion-card>
     </ion-col>
    
 
    </ion-row>
    <ion-row>
 
     <ion-col size="12">
       <ion-card>
         <ion-img src="/assets/b.jpg" title="pecho"></ion-img>
 
         <ion-card-header>
           <ion-card-title>Brocolis</ion-card-title>

         </ion-card-header>
         <ion-card-content>
          El brécol no solo es un excelente ingrediente gastronómico, sino que ha demostrado tener gran cantidad de atributos como garante de la salud. Así, los estudios demuestran que tiene propiedades anticancerígenas, antianémicas, preventivas de la gastritis y reductoras de la función tiroidea y de la degeneración macular de la retina.


         </ion-card-content>
       </ion-card>
     </ion-col>
     <ion-col size="12">
       <ion-card>
         <ion-img src="/assets/p.jpg" title="pecho"></ion-img>
 
         <ion-card-header>
           
           <ion-card-title>Pechuga de pollo</ion-card-title>
         </ion-card-header>
        <ion-card-content>
         Una de las mejores cosas que tienen los canelones es que podemos rellenarlos con casi cualquier ingredientes: verduras, carne, pescado, setas... De todas ...
        </ion-card-content>
       </ion-card>
     </ion-col>
    
 
    </ion-row>
 
    <ion-row>
 
     <ion-col size="12">
       <ion-card>
         <ion-img src="/assets/s.jpg" title="pecho"></ion-img>
 
         <ion-card-header>
           <ion-card-title>Pescado</ion-card-title>
         </ion-card-header>
         <ion-card-content>
          El término pescado se refiere a los peces que se usan como alimento. Estos peces pueden ser pescados en el agua —océanos, mares, ríos, lagos—, pero también pueden ser criados mediante técnicas de acuicultura. En concordancia con los distintos tipos de peces, se obtienen distintos tipos de pescado.
         </ion-card-content>
       </ion-card>
     </ion-col>
     <ion-col size="12">
      <ion-card>
        <ion-img src="/assets/d.jpg" title="pecho"></ion-img>

        <ion-card-header>
          <ion-card-title>Aguacate</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         El término pescado se refiere a los peces que se usan como alimento. Estos peces pueden ser pescados en el agua —océanos, mares, ríos, lagos—, pero también pueden ser criados mediante técnicas de acuicultura. En concordancia con los distintos tipos de peces, se obtienen distintos tipos de pescado.
        </ion-card-content>
      </ion-card>
    </ion-col>
    
 
    </ion-row>
 
   
   </ion-grid>

</ion-content>
